{% extends 'base_layout.html' %}

{% block content %}

<div id="divcontrol" class="container">
 {% for product in productdetails %}
    <form class="form-horizontal" method="post" action="/customer_order_submit/{{ product.id }}">
        {% csrf_token %}

        <div class="form-group">
            <label class="control-label col-sm-2" >Product Number:</label>
            <div class="col-sm-10">
                 <input type="text" class="form-control"  name="product_number" value="{{ product.id }}" readonly>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Product Name:</label>
            <div class="col-sm-10">
                 <input type="text" class="form-control"  name="product_name" value="{{ product.name }}" readonly >
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Number Of Piece:</label>
            <div class="col-sm-10">
                  <input type="number" class="form-control" name="number_piece" required>
            </div>
        </div>
         <div class="form-group">
            <label class="control-label col-sm-2">your name:</label>
            <div class="col-sm-10">
                  <input type="text" class="form-control" name="customer_name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Your phone No:</label>
            <div class="col-sm-10">
                  <input type="tel" class="form-control" name="customer_phone" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Your adress:</label>
            <div class="col-sm-10">
                 <input type="text" class="form-control" name="customer_adress" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Date:</label>
            <div class="col-sm-10">
                <input type="date" class="form-control" name="customer_date" required>
            </div>
        </div>
        <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Submit</button>
              </div>
        </div>
        <br>
    </form>
    {% endfor %}
</div>
{% endblock %}