{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Home Page</title>
</head>
<body>

  <div class="container">

    <div class="row">
      {% for product in productcategories %}
      <div class="col-md-4 col-sm-12 col-lg-3 m-1">
              <div class="card" style='width:100%; height:300px;'>
                <img src="{{product.productimage.url}}" style="width:100%;height:100%;" class="card-img-top" alt="{{ product.productname }}">
                      <div class="card-body">

                          <a><h5 class="card-title"> {{ product.productname }}</h5></a>
                           <a href="{% url 'displayproduct' %}" class="btn btn-success" >Show all {{ product.productname }}</a>

                          {% if product.productname == "Man and Woman Dress" %}
                                <a href="{% url 'displayproduct' %}" class="btn btn-success" >{{ product.productname }}</a>
                          {% elif product.productname == "Electronics" %}
                          {% elif product.productname == "Rice" %}
                          {% elif product.productname == "Cow" %}
                          {% elif product.productname == "Furnitures" %}
                          {% elif product.productname == "Cycle/Motor Cycle" %}
                          {% elif product.productname == "Goat" %}
                          {% elif product.productname == "Umbrella" %}
                          {% elif product.productname == "Hen" %}
                          {% else %}
                                <a href="{% url 'displayproduct' %}" class="btn btn-success" >{{ product.productname }}</a>
                          {% endif %}

                  </div>
               </div>
        </div>
      {% endfor %}
  </div>
  </div>
</body>
</html>